<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produto</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <main class="pagina">

        <header>
            <h1>Editar Produto</h1>
        </header>

        <section>

            <form th:action="@{/produtos/atualizar/{id}(id=${produto.id})}"
              th:object="${produto}"
              method="post">

            <input type="hidden" th:field="*{id}">

            <label for="nome">Nome</label>
            <input id="nome"
                   type="text"
                   th:field="*{nome}">

            <label for="descricao">Descrição</label>
            <input id="descricao"
                   type="text"
                   th:field="*{descricao}">

            <label for="quantidade">Quantidade</label>
            <input id="quantidade"
                   type="number"
                   th:field="*{quantidade}">

            <label for="preco">Preço</label>
            <input id="preco"
                   type="number"
                   step="0.01"
                   th:field="*{preco}">

            <label for="fornecedor">
                Fornecedor
            </label>
            
            <select
                    id="fornecedor"
                    name="fornecedor.id"
                    required>
            
                <option
                        th:each="fornecedor : ${fornecedores}"
                        th:value="${fornecedor.id}"
                        th:text="${fornecedor.nome}"
            
                        th:selected="${produto.fornecedor != null
                                      and produto.fornecedor.id == fornecedor.id}">
                </option>
            
            </select>
        
            <button type="submit">
                Atualizar
            </button>
        
        </form>

        </section>

        <footer>
            <a href="/">Voltar</a>
        </footer>

    </main>

</body>
</html>