<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Editar Produto</h1>

    <form>
        <label>Nome do Produto:</label>
        <input type="text">

        <label>Tipo da Madeira:</label>
        <input type="text">

        <label>Quantidade:</label>
        <input type="number">

        <label>Preço:</label>
        <input type="number">

        <button type="submit">Atualizar</button>
    </form>

    <br>

    <a href="/">Voltar</a>

</body>
</html>