<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Produto</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <main class="pagina">

        <header>
            <h1>Excluir Produto</h1>
        </header>

        <section class="confirmacao">

            <p>
                Deseja realmente excluir este produto?
            </p>

            <button>Excluir</button>

        </section>

        <footer>
            <a href="/">Cancelar</a>
        </footer>

    </main>

</body>
</html>